@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-zinc-900 overflow-x-hidden;
}

/* Custom scrollbar styles */
.scrollbar-custom {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: none;

}


.scrollbar-custom::-webkit-scrollbar {
    height: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #ef4444; /* Red color */
    border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-track {
    background-color: transparent;
}

/* For Firefox */
.scrollbar-custom {
    scrollbar-color: #ef4444 transparent;
    scrollbar-width: thin;
}

@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }
    25% {
        background-position: -25% 0;
    }

    50% {
        background-position: -50% 0;
    }

    75% {
        background-position: -75% 0;
    }
    100% {
        background-position: -100% 0;
    }
}

.shimmer {
    background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 25%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0) 75%
    );
    background-size: 200% 100%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    animation: shimmer 1s infinite ease-in-out;
}

