@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-zinc-900 overflow-x-hidden;
}

/* Custom scrollbar styles */
.scrollbar-custom {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: none;

}


.scrollbar-custom::-webkit-scrollbar {
    height: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #ef4444; /* Red color */
    border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-track {
    background-color: transparent;
}

/* For Firefox */
.scrollbar-custom {
    scrollbar-color: #ef4444 transparent;
    scrollbar-width: thin;
}
